.box {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px; /* sets the border radius to 10 pixels */
  border: 1px solid #ccc; /* adds a 1 pixel solid border */
  padding: 10px; /* adds some padding inside the box */
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

/* BoxContainer.css */
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.box-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 54px;
}
.box-col{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 54px;
  align-items: center;
}
.box:hover {
  transform: scale(1.2);
}

