.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .red {
    background-color: #ff4136;
  }
  
  .orange {
    background-color: #ff851b;
  }
  
  .yellow {
    background-color: #ffdc00;
  }
  
  .green {
    background-color: #2ecc40;
  }
  
  .blue {
    background-color: #0074d9;
  }
  
  .purple {
    background-color: #b10dc9;
  }
  