  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    border: 0px solid #ddd;
    font-size: 1em;
    margin: 20px;
    text-align: center;
    margin: auto;
    font-family: 'Nunito', sans-serif;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #dfdbdb;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5e2a6;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
  }
  
  .filter-spans > span {
    margin-right: 2px;
  }
  
  .filter-spans > span:last-child {
    margin-right: 0;
  }
  .filter select {
    margin-left: 10px;
  }
  .filter input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .maintenance-message {
    /* position: fixed; */
    bottom: 10px;
    right: 10px;
    padding: 10px;
    /* background-color: #ffcccb;; */
    color: black;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    overflow: hidden; /* hide the overflowing text */
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .maintenance-message > span {
    display: inline-block; /* make the text inline-block */
    animation: marquee 15s linear infinite; /* set the animation */
  }
  
  td.wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .word-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }