.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0e6b8;
  color: white;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  color: rgb(180, 74, 74);
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: white;
}

.dropdown-divider {
  background-color: white;
}
