.Navbar.text {
  color: #fff; /* set font color to white */
  font-weight: bold; /* set font weight to bold */
  font-size: 1.5rem; /* set font size to 1.5 rem (adjust as needed) */
}
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 6rem;
}

.navbar-brand img {
  height: 35px;
  width: 200px;
}

.navbar-text {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

.dropdown-toggle {
  color: #fff !important;
  font-weight: bold;
  font-size: 0.8rem;
}

.dropdown-menu {
  background-color: #343a40;
  border: none;
  font-size: 0.8rem;
  
}

.dropdown-menu a {
  color: #fff !important;
  font-weight: bold;
}

.dropdown-menu a:hover {
  background-color: #212529;
}

.nav-link {
  color: rgb(31, 30, 30) !important;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.navbar-nav {
  margin-right: 2rem;
}

.navbar-nav .nav-item {
  margin-right: 1rem;
}

.last-refreshed-time {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 16px;
  color: rgb(189, 31, 31);
}