.work-in-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* background-color: #f1f1f1; */
  }
  
  .wip-image {
    width: 800px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .wip-text {
    font-size: 32px;
    color: #333;
  }
  